{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hasil Pertandingan</title>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 pb-96 h-full">
    <div class="flex-col gap-10 justify-center">
        <h1 class="flex justify-center shadow-2xl text-4xl text-white mb-2">Hasil Pertandingan</h1>
        <h1 class="flex justify-center shadow-2xl text-2xl text-white mb-10">{{partai_kompetisi.jenis_partai}} - {{partai_kompetisi.nama_event}}</h1>
    </div>  
    <div class="flex gap-10 justify-center">
        <div class="grid grid-cols-4 gap-y-6 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16">
            <div>
                <p class="text-sm opacity-50">Nama Event</p>
                <p>{{ partai_kompetisi.nama_event }}</p>
            </div>
            <div>
                <p class="text-sm opacity-50">Stadium</p>
                <p>{{ partai_kompetisi.stadium }}</p>
            </div> 
            <div>
                <p class="text-sm opacity-50">Hadiah</p>
                <p>{{ partai_kompetisi.hadiah }}</p>
            </div>
            <div>
                <p class="text-sm opacity-50">Kategori Superseries</p>
                <p>{{ partai_kompetisi.kategori }}</p>
            </div>  
            <div>
                <p class="text-sm opacity-50">Tanggal Mulai</p>
                <p>{{ partai_kompetisi.tgl_mulai }}</p>
            </div>
            <div>
                <p class="text-sm opacity-50">Tanggal Selesai</p>
                <p>{{ partai_kompetisi.tgl_selesai }}</p>
            </div> 
            <div>
                <p class="text-sm opacity-50">Kapasitas</p>
                <p>{{ partai_kompetisi.kapasitas }}/{{ partai_kompetisi.max_kapasitas }}</p>
            </div> 
        </div>  
    </div>
    <div class="flex gap-10 justify-center py-4">
        <div class="grid grid-cols-2 gap-y-6 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16 items-center mx-10">
            <p class="text-blue font-bold">Tahap</p>
            <p class="text-blue font-bold">Nama Tim</p>
            {% for tahap in daftar_tahap %}
                <p>{{ tahap.tahap }}</p>
                <div class="flex flex-col gap-5 mt-5">
                {% for tim in tahap.daftar_tim %}
                    <p>{{ tim }}</p>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}