<nav>
    <div class="flex justify-between bg-black text-white font-poppins items-center py-4 px-8 cursor-pointer">
        <div class="flex gap-5 font-semibold text-bluebright text-xl">
            Babadu.
        </div>  
        <div class="flex gap-5">
            <button class="hover:text-blue">Dashboard</button>
            <button class="hover:text-blue">Daftar Atlet</button>
            <button class="hover:text-blue">Lihat Event</button>
            <button class="hover:text-blue">Hasil Pertandingan</button>
            <button class="border-2 border-redbright text-redbright rounded-xl py-2 px-4 hover:bg-redbright hover:text-black duration-200">Logout</button>
        </div>
    </div>
</nav>