{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Atlet</title>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 pb-96 h-full">
    <div class="flex gap-10 justify-center">
        <h1 class="flex justify-center shadow-2xl text-4xl text-white mb-10">List Atlet</h1>
    </div>  
    <div class="flex gap-10 justify-center">
        <div class="grid grid-cols-3 gap-y-6 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16">
            <p class="text-blue font-bold">Nama Lengkap</p>
            <p class="text-blue font-bold">Email</p>
            <p class="text-blue font-bold">World Rank</p>
            {% for atlet in list_atlet %}
                <p>{{ atlet.nama_lengkap }}</p>
                <p>{{ atlet.email }}</p>
                <p>{{ atlet.world_rank }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-center gap-5 my-10">
        <button class="border-2 border-green text-green rounded-xl py-2 px-6 hover:bg-green hover:text-black duration-200"><a href="/tes-kualifikasi/pertanyaan/">Submit</a></button>
        <button class="border-2 border-graybright text-graybright rounded-xl py-2 px-6 hover:bg-graybright hover:text-black duration-200"><a href="javascript:history.go(-1)">Back</a></button>
    </div>
</div>
{% endblock content %}