{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Event</title>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-28 pb-96 h-full">
    <div class="flex gap-10 justify-center">
        <h1 class="flex justify-center shadow-2xl text-4xl text-white mb-10">Daftar Event</h1>
    </div>  
    <div class="flex gap-10 justify-center">
        <div class="grid grid-cols-6 gap-y-6 gap-x-24 bg-gray/20 text-white shadow-inner border-white rounded-3xl py-12 px-16 items-center mx-10">
            <p class="text-blue font-bold">Nama Event</p>
            <p class="text-blue font-bold">Total Hadiah</p>
            <p class="text-blue font-bold">Tanggal Mulai</p>
            <p class="text-blue font-bold">Kategori</p>
            <p class="text-blue font-bold">Kapasitas</p>
            <p class="text-blue font-bold"></p>
            {% for event in daftar_event %}
                <p>{{ event.nama_event }}</p>
                <p>{{ event.total_hadiah }}</p>
                <p>{{ event.tanggal_mulai }}</p>
                <p>{{ event.kategori }}</p>
                <p>{{ event.kapasitas_terisi }}/{{ event.kapasitas_total }}</p>
                {% if event.kapasitas_terisi < event.kapasitas_total %}
                    <button class="border-2 border-blue text-blue rounded-xl py-2 px-6 hover:bg-blue hover:text-black duration-200"><a href="/daftar-event/stadium/{{ stadium_id }}/event/{{ event.id }}/">Pilih</a></button>
                {% else %}
                    <button class="border-2 border-red rounded-xl py-2 px-6 bg-red text-black" disabled>Penuh</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}