{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Atlet</title>
<!-- load javascript -->
<script src="{% static 'authentication.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-40 h-screen">
    <div class="flex justify-center">
        <div class="bg-gray/20 text-white shadow-2xl border-white rounded-3xl pt-8 px-24">
            <h1 class="flex justify-center text-4xl mb-10">Register Atlet</h1>
            <form id="register_atlet" method="POST">
                {% csrf_token %} 
                <div class="text-black">
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Nama</label><br>
                            <input id="nama" name="nama" type="text" placeholder="Masukkan nama Anda" class="rounded-xl w-64 p-1"/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Email</label><br>
                            <input id="email" name="email" type="text" placeholder="example@gmail.com" class="rounded-xl w-64 p-1"/>
                            {% if is_email_exist %}
                            <br><label class="text-redbright text-sm italic">&nbsp;*email already exists!</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Negara</label><br>
                            <input id="negara" name="negara" type="text" placeholder="Kewarganegaraan Anda" class="rounded-xl w-64 p-1"/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Tanggal Lahir</label><br>
                            <input id="tanggal_lahir" name="tanggal_lahir" type="date" id="tanggal_lahir" name="tanggal_lahir" class="rounded-xl w-64 p-1">
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Tinggi Badan</label><br>
                            <input id="tinggi_badan" name="tinggi_badan" type="text" placeholder="Dalam CM" class="rounded-xl w-64 p-1"/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Jenis Kelamin</label><br>
                            <select id="jenis_kelamin" name="jenis_kelamin" class="rounded-xl w-64 p-1">
                                <option value="TRUE">Laki</option>
                                <option value="FALSE">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="py-2">
                        <label class="text-white">Play</label><br>
                        <input type="radio" id="play" name="play" value="FALSE">
                        <label class="text-white">Left</label>
                        <label class="px-2"></label>
                        <input type="radio" id="play" name="play" value="TRUE">
                        <label class="text-white">Right</label>
                    </div>
                </div>
                <div class="flex justify-center gap-5 my-10">
                    <button class="border-2 border-green text-green rounded-xl py-2 px-6 hover:bg-green hover:text-black duration-200">Register</button>
                    <button onclick="window.history.go(-1); return false;" class="border-2 border-graybright text-graybright rounded-xl py-2 px-6 hover:bg-graybright hover:text-black duration-200"><a>Cancel</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}