{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Pelatih</title>
<!-- load javascript -->
<script src="{% static 'authentication.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="bg-gradient-to-bl from-indigo-500/20 pt-36 h-screen">
    <div class="flex justify-center">
        <div class="bg-gray/20 text-white shadow-2xl border-white rounded-3xl pt-8 px-24">
            <h1 class="flex justify-center text-4xl mb-10">Register Pelatih</h1>
            <form id="register_pelatih" method="POST">
                {% csrf_token %} 
                <div class="text-black">
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Nama</label><br>
                            <input id="nama" name="nama" type="text" placeholder="Masukkan nama Anda" class="rounded-xl w-64 p-1"/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Email</label><br>
                            <input id="email" name="email" type="text" placeholder="example@gmail.com" class="rounded-xl w-64 p-1"/>
                            {% if is_email_exist %}
                            <br><label class="text-redbright text-sm italic">&nbsp;*email already exists!</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="py-2">
                            <label class="text-white">Negara</label><br>
                            <input id="negara" name="negara" type="text" placeholder="Kewarganegaraan Anda" class="rounded-xl w-64 p-1"/>
                        </div>
                        <div class="py-2">
                            <label class="text-white">Tanggal Mulai</label><br>
                            <input id="tanggal_mulai" name="tanggal_mulai" type="date" id="tanggal_mulai" name="tanggal_mulai" class="rounded-xl w-64 p-1">
                        </div>
                    </div>
                    <div class="py-2">
                        <label class="text-white">Kategori</label><br>
                        <span class="text-blue text-xs">*Pilihan dapat lebih dari satu</span>
                        <div class="pt-2 text-white">
                            <input type="checkbox" id="kategori" name="kategori" value="0942c677-74ae-414b-b513-86a04362b937">
                            <label for="tunggal_putra" class="px-2">Tunggal Putra</label><br>
                            <input type="checkbox" id="kategori" name="kategori" value="02306471-40c2-4ab0-99ad-76d84f5fb1b8">
                            <label for="tunggal_putri" class="px-2">Tunggal Putri</label><br>
                            <input type="checkbox" id="kategori" name="kategori" value="76e23523-d198-4415-b6ce-a0501c071b1d">
                            <label for="ganda_putra" class="px-2">Ganda Putra</label><br>
                            <input type="checkbox" id="kategori" name="kategori" value="b8d63b0f-6836-4e41-a4df-373f0876819b">
                            <label for="ganda_putri" class="px-2">Ganda Putri</label><br>
                            <input type="checkbox" id="kategori" name="kategori" value="ed38b0ca-1179-4d66-abc9-5ce830d66e5a">
                            <label for="ganda_campuran" class="px-2">Ganda Campuran</label><br>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center gap-5 my-10">
                    <button class="border-2 border-green text-green rounded-xl py-2 px-6 hover:bg-green hover:text-black duration-200">Register</button>
                    <button onclick="window.history.go(-1); return false;" class="border-2 border-graybright text-graybright rounded-xl py-2 px-6 hover:bg-graybright hover:text-black duration-200"><a>Cancel</a></button>
                </div>
            </form> 
        </div>
    </div>
</div>
{% endblock content %}